@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
nav ul{
	text-align: center;
	padding: 8px;
	margin: 0 auto;
}
nav li{
	display: inline;
	background-color: #fca845;
	padding: 8px 10px;
	border-radius: 50px;
}
nav li:hover{
	background-color: #45fc4c;
}
nav{
	background-color: #b8182f;
}
body{
	margin: 10px 0;
	font-family: 'Playfair Display', serif;
}
main{
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 20px 20px 20px;
}
footer{
	text-align: center;
	background-color: #fca845;
	padding-top: 10px;
	padding-bottom: 10px;
}
b{
	font-size: 3ex;
}
.logo{
	margin: 0 auto;
	display: block;
}
.selfie{
	margin: 0 auto;
	display: block;
}
.icons .fa{
	font-size: 5em;
	color: red;
}
.icons{
	text-align: center;
	padding: 40px 0;
	color: red;
	max-width: 1200px;
	margin: 0 auto;
}